---
export interface Props {
  title: string;
  description: string;
  ogType?: string;
  ogUrl?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  twitterCard?: string;
}

const {
  title,
  description,
  ogType,
  ogUrl,
  ogTitle,
  ogDescription,
  ogImage,
  twitterCard,
} = Astro.props;

// OGPメタデータのデフォルト値を設定
const metaOgType = ogType || "website";
const metaOgUrl = ogUrl || Astro.url.href;
const metaOgTitle = ogTitle || title;
const metaOgDescription = ogDescription || description;
const metaOgImage = ogImage || "/img/icon_196.png";
const metaTwitterCard = twitterCard || "summary";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={metaOgType} />
    <meta property="og:url" content={metaOgUrl} />
    <meta property="og:title" content={metaOgTitle} />
    <meta property="og:description" content={metaOgDescription} />
    <meta property="og:image" content={metaOgImage} />
    <meta property="og:site_name" content="NWU" />
    <meta property="og:locale" content="ja_JP" />

    <!-- Twitter -->
    <meta property="twitter:card" content={metaTwitterCard} />
    <meta property="twitter:url" content={metaOgUrl} />
    <meta property="twitter:title" content={metaOgTitle} />
    <meta property="twitter:description" content={metaOgDescription} />
    <meta property="twitter:image" content={metaOgImage} />

    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/img/icon_196.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sawarabi+Gothic&family=VT323&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-black font-inter leading-relaxed text-base w-full mx-auto text-zinc-900">
    <slot />
  </body>
</html>
